img{
    height: 55px;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #ea3f2c; /* Cambia el color de fondo al que desees */
  }

  .cltitle{
    
  
   font-size: 50px;
   font-weight: bold;
  }
  a{
    cursor: pointer;
  }

  /* Agrega estilos personalizados para el botón de confirmación */
.my-confirm-button-class {
  border: none;
}
/* Anula el borde del botón de confirmación de SweetAlert2 */
/* Anula el borde del botón de confirmación de SweetAlert2 */
.swal2-confirm.my-confirm-button-class {
  border: none !important;
  box-shadow: none !important;
}

