<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-danger">
        <h2 class="card-title"><img src="assets/img/configuraciones.png" alt=""> Configuración y Privacidad</h2>
      </div>
      <div class="card-body">
        <div id="typography">
          <div class="card-title">
            <h2>Tu Información</h2>
          </div>
          <div class="row" *ngIf="usuariosss">
            <!-- Columna principal con el contenido -->
            <div class="col-md-8">
              <div class="tim-typo table-rowt editable-rowr" data-toggle="modal" data-target="#ventanaUsuario" (click)="editarusuario(usuariosss)">
                <h3>
                  <span class="tim-note">Usuario</span>{{usuariosss.Identificacion}}
                </h3>
              </div>
              
              <div class="tim-typo table-rowt editable-rowr" data-toggle="modal" data-target="#ventanaNombre" (click)="editarnombre(usuariosss)">
                <h3>
                  <span class="tim-note">Apellido1</span>{{usuariosss.persona.Apellido1}}
                </h3>
              </div>

              <div class="tim-typo table-rowt editable-rowr" data-toggle="modal" data-target="#ventanaNombre" (click)="editarnombre(usuariosss)">
                <h3>
                  <span class="tim-note">Apellido2</span>{{usuariosss.persona.Apellido2}}
                </h3>
              </div>

              <div class="tim-typo table-rowt editable-rowr" data-toggle="modal" data-target="#ventanaNombre" (click)="editarnombre(usuariosss)">
                <h3>
                  <span class="tim-note">Nombre1</span>{{usuariosss.persona.Nombre1}}
                </h3>
              </div>

              <div class="tim-typo table-rowt editable-rowr" data-toggle="modal" data-target="#ventanaNombre" (click)="editarnombre(usuariosss)">
                <h3>
                  <span class="tim-note">Nombre2</span>{{usuariosss.persona.Nombre2}}
                </h3>
              </div>

              <div class="tim-typo table-row editable-row" data-toggle="modal" data-target="#ventanaEmail" (click)="editaremail(usuariosss)">
                <h3>
                  <span class="tim-note ">Email</span>{{usuariosss.persona.EmailInstitucional}}
                </h3>
              </div>
              <div class="tim-typo table-row editable-row" data-toggle="modal" data-target="#ventanaTelefono" (click)="editartelefono(usuariosss)">
                <h3>
                  <span class="tim-note">Telèfono</span>{{usuariosss.persona.TelefonoC}}
                </h3>
              </div>
              <div class="tim-typo table-row editable-row" data-toggle="modal" data-target="#ventanaContrasena" (click)="editarcontrasena(usuariosss)">
                <h3>
                  <span class="tim-note">Contraseña</span> ****************
                </h3>
              </div>
            </div>
            
            <!-- Columna para la foto en el lado derecho -->
            <div class="col-md-4 text-right">
              <div class="tim-typo table-row editable-row" data-toggle="modal" data-target="#ventanaFoto" (click)="editarfoto(usuariosss)">
                <h4>
                  <span class="tim-note"> </span>
                </h4>
                <!-- Muestra la imagen con la clase de tamaño carnet sin recorte -->
                <img *ngIf="usuariosss.persona.foto" [src]="'http://localhost:3000/imagenes/' + usuariosss.persona.foto" alt="Foto de usuario" class="img-carnet2">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


 








  <!-- Modal Email-->
  <div class="modal fade" id="ventanaEmail" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content d-flex align-items-center">
        <div class=" heads x">
          <h5 class="modal-title texto-grueso" id="exampleModalLabel">Editar Email <img src="assets/img/email.png"
              alt=""></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">

          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="usuarioForm">
            <div class="form-group col-md-8">
              <label for="inputState" class="select-gr">Email</label> <br>
              <input class="example-full-width estilos" type="text" formControlName="EmailInstitucional">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn " data-dismiss="modal" (click)="closeModal()">Cerrar</button>
          <button type="button" class="btn btn-danger" (click)=" editarEmail()" data-dismiss="modal">Guardar</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal Telefono-->
  <div class="modal fade" id="ventanaTelefono" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content d-flex align-items-center">
        <div class=" heads x">
          <h5 class="modal-title texto-grueso" id="exampleModalLabel">Editar Teléfono <img src="assets/img/llamada.png"
              alt=""></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">

          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="usuarioForm">
            <div class="form-group col-md-8">
              <label for="inputState" class="select-gr">Teléfono</label> <br>
              <input class="example-full-width estilos" type="text" formControlName="TelefonoC">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn " data-dismiss="modal" (click)="closeModal()">Cerrar</button>
          <button type="button" class="btn btn-danger" (click)=" editarTelefono()" data-dismiss="modal">Guardar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Contraseña -->
  <div class="modal fade" id="ventanaContrasena" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content d-flex align-items-center">
        <div class=" heads x">
          <h5 class="modal-title texto-grueso" id="exampleModalLabel">Editar Contraseña <img
              src="assets/img/contrasena.png" alt=""></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">

          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="usuarioForm">
            <div class="form-group col-md-8">
              <label for="inputState" class="select-gr">Contraseña</label> <br>
              <input class="example-full-width estilos" type="text" formControlName="contrasena">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn " data-dismiss="modal" (click)="closeModal()">Cerrar</button>
          <button type="button" class="btn btn-danger" (click)=" editarContrasena()"
            data-dismiss="modal">Guardar</button>
        </div>
      </div>
    </div>
  </div>


 
  





  <!-- Modal Foto -->
<!-- Agrega el evento (change) al input para detectar cambios en el archivo -->
 

<!-- Resto de tu código HTML para la modal -->
<div class="modal fade" id="ventanaFoto"   data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <!-- ... Otras partes del código ... -->

  <div class="modal-dialog" role="document">
    <div class="modal-content d-flex align-items-center text-center">
      <div class="heads x">
        <h5 class="modal-title texto-grueso" id="exampleModalLabel">Editar Foto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body">
        <form>
          <div class="form-group col-md-8 mx-auto">
            <div class="custom-file d-flex justify-content-center">
              <input type="file" class="custom-file-input" id="customFile" name="image" #fileInput (change)="onFileChange($event)" style="display:none;">
              <img [src]="selectedImage" alt="" class="img-carnet letrita" (click)="fileInput.click()">
           
            </div>
            <br>  
          </div>
        </form>
      </div>
  
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal" (click)="closeModal()">Cerrar</button>
        <button type="button" class="btn btn-danger" (click)="editarFoto()" data-dismiss="modal">Guardar</button>
      </div>
    </div>
  </div>
  
  
  

</div>
