<div class="main-container">
  <form class="login-form" [formGroup]="loginForm">
    <div class="login-text">
      <div class="logo-container">
        <img src="assets/img/log.png" alt="">
      </div>
      <span class="fa-stack fa-2x">
        <i class="fa fa-user fa-stack-1x"> </i>
      </span>
    </div>
 
    
    <!-- Username Input with Icon -->
    <div class="input-container">
      <span class="input-icon">
        <i class="fa fa-user"></i>
      </span>
      <input type="email" class="login-username" autofocus="true" required="true" placeholder="Usuario" formControlName="usuario" />
    </div>

<!-- Password Input with Icon -->
<div class="input-container">
 
  <div class="password-input-container">

    <span class="input-icon">
      <i class="fa fa-lock"></i>
    </span>
    <input type="{{ showPassword ? 'text' : 'password' }}" class="login-password" required="true" placeholder="Contraseña" formControlName="contrasena" />
    <span class="show-password-icon" (click)="togglePasswordVisibility()">
      <i class="fa fa-eye" *ngIf="showPassword"></i>
      <i class="fa fa-eye-slash" *ngIf="!showPassword"></i>
    </span>
  </div>
</div>




    <input type="submit" name="Login" value="Ingresar" class="login-submit" (click)="login()" />

    <div class="register-link" *ngIf="!hayUsuarios" style="margin-top: 20px; margin-bottom: 20px;"> 
      ¿No tienes cuenta? <a (click)="crearUsuario()">Regístrate</a>
    </div>
  </form>

  <div class="underlay-photo "></div>
  <div class="underlay-black"></div>
  <router-outlet></router-outlet>
</div>
