<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



<div class="main-content">
  <div class="container-fluid">


    <div class="row">
      <button mat-raised-button type="submit" class=" btn1 btn-danger pull-right card-title" data-toggle="modal"
        data-target="#ventanaForm" (click)="nuevoCurso()">AGREGAR +</button>

      <div class="col-md-12">

        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title disabled"> <img src="/assets/img/mn.png" class="edit" alt=""> Menú</h4>

          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    ID
                  </th>
                  <th>
                    Plato
                  </th>
                  <th>
                    Cantidad de Plato
                  </th>
                 
                  <th>
                    Habilitado
                  </th>
                  <th>
                    Acción
                  </th>

                </thead>
                <tbody *ngFor="let item of menusss ;let i=index ">
                  <tr>
                    <td>
                      {{i+1}}
                    </td>
                    <td>
                      {{item.plato.descripcion}}
                    </td>
                    <td>
                      {{item.cantidad}}
                    </td>
                  
                    <td>
                      {{item.habilitado}}
                    </td>

                    <td>
                      <button1 color="primary" (click)="editarMenu(item)">
                        <i class="material-icons editable-row" data-toggle="modal" data-target="#ventanaForm">edit</i>
                      </button1>


                      <button2> <i class="material-icons editable-row" (click)="showModalEliminar(item.id)">delete</i>
                      </button2>
                    </td>

                  </tr>

                </tbody>
              </table>



            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="ventanaForm" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content d-flex align-items-center">
      <div class=" heads x">
        <h5 class="modal-title texto-grueso" id="exampleModalLabel">{{tituloForm}} <img src="assets/img/menuicono.png"
            alt=""></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="menuForm">

          <div class="form-row">
            <div class="form-group col-md-11">
              <div class="formmm">
                <div class="search-container">
                  <label class="label select-gr" for="input-datalist-plato">Buscar el nombre del Plato:</label>
                  <div class="search-box">
                    <input
                      type="text"
                      class="example-full-width estilos"
                      list="list-timezone-plato"
                      id="input-datalist-plato"
                      [value]="platoSeleccionado.descripcion"
                      (input)="updatePlatoId($event)"
                      formControlName="id_plato"
                      readonly
                      aria-readonly="true"
                    />
            
                    <datalist id="list-timezone-plato">
                      <option *ngFor="let item of platosss" [value]="item.descripcion"></option>
                    </datalist>
                  </div>
                </div>
              </div>
            </div>
            
          </div>

          
          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="inputState" class="select-gr">Cantidad platos</label> <br>
              <input class="example-full-width estilos" type="text" formControlName="cantidad">
              <div *ngIf="showId_cantidadplatoError" class="text-danger">Campo requerido</div>
            </div>
          </div>

         <!-- ... (otras partes de tu código HTML) ... -->

<div class="form-row">
  <div class="form-group col-md-8">
    <label for="inputState" class="select-gr">Habilitado</label> <br>
    <!-- Elimina el input anterior y utiliza radio buttons -->
    <input type="radio" id="si" name="habilitado" formControlName="habilitado" value="1">
    <label for="si">Si</label>
    <br>
    <input type="radio" id="no" name="habilitado" formControlName="habilitado" value="0">
    <label for="no">No</label>

    <div *ngIf="showHabilitadoError" class="text-danger">Campo requerido</div>
  </div>
</div>

<!-- ... (otras partes de tu código HTML) ... -->


 



          <input type="hidden" formControlName="funcion">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn " data-dismiss="modal" (click)="closeModal()">Cerrar</button>
        <button type="button" class="btn btn-danger" (click)="addMenu()" data-dismiss="modal">Guardar</button>
      </div>
    </div>
  </div>
</div>