body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .header {
    background-color: rgb(255, 255, 255); /* Color rojo para el header */
    padding: 20px;
    color: rgb(61, 60, 60);
    height: 90px;
    border-color: rgb(125, 125, 125);


    
  }

  .fondo{
    background: url('/assets/img/menudesayunoo.jpeg') center center/cover no-repeat;

  }
  .xx{
    cursor: pointer;
  }
  .header-content {
    display: flex;
    align-items: center;
  }
  
  .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user-name {
    font-size: 20px;
  }
  
  .content {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ocupar toda la página verticalmente */

    
  }
  
  .report-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  .report-table th,
  .report-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .report-table th {
    background-color: #f2f2f2;
  }
  .logo {
height: 60px; 
//weight: ;

}

.btn-download {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }

  /* Tu código actual */

/* Agregamos el siguiente código para alinear las imágenes */
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Alineación horizontal */
  }
  
  /* ---------------------------------------------------------------------------------------------------------------------------------------- */
  
  .clsimg{
    height: 55px;

  }

/* styles.css o sidebar.component.css */
.red-bold-text {
  color: rgb(187, 52, 52) !important;
  font-weight: bold !important;
}
th{
  color: rgb(187, 52, 52) !important;
  font-weight: bold !important;
}
h2{
  color: #00831f;
}

.disabled {
  font-weight: bold;
  font-size: 21px;
}

//--------------------------------------------descarga
.tamimg{
  height: 25px;
  width: 25px;
}

.custom-dropdown {
  position: relative;
  border: 1px solid #ccc;
  cursor: pointer;
  width: 190px;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #ea3f2c; /* Cambia el color de fondo al que desees */
}

.nav-item {
  list-style: none; /* Elimina el estilo de viñeta de la lista */
}

.label2 {
  display: inline-flex;
  align-items: center;
  
  font-family:  sans-serif;
  font-size: small;
  font-size: 18px;
  font-weight: bold; 
}
.col{
  color: #ffffff;
}

.dropdown-menu{
  cursor: pointer;
}

.circular-image {
  width: 40px; /* Ajusta el tamaño según sea necesario */
  height: 40px; /* Ajusta el tamaño según sea necesario */
  border-radius: 50%;
  overflow: hidden;
}
.lt{
  font-family: 'Arial';
}