<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



<div class="main-content">
  <div class="container-fluid">


      <div class="row">
        <button mat-raised-button type="submit" class="btn btn-danger pull-right card-title"  data-toggle="modal" data-target="#ventanaForm" >AGREGAR</button>

          <div class="col-md-12">

              <div class="card" >
                  <div class="card-header card-header-danger">
                      <h4 class="card-title disabled">  <img src="assets/img/reporte.png" alt="" > REPORTE POLITÉCNICO </h4>
                     
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      No
                                  </th>
                                  <th>
                                      Nombres
                                  </th>
                                  <th>
                                      Correo
                                  </th>
                                  <th>
                                      Telefono
                                  </th>
                                  <th>
                                    Cancelado
                                </th>
                                <th>
                                  Monto
                              </th>
                                  <th>
                                    Accion
                                </th>
                                  
                              </thead>
                              <tbody >
                                  <tr  >
                                      <td >
                                        1
                                      </td>
                                      <td >
                                       Tomas Loor
                                      </td>
                                      <td>
                                        tomasloor@espam.edu.ec
                                      </td>
                                      <td>
                                        099987451
                                      </td>
                                      <td>
                                        No
                                      </td>
                                      <td>
                                        10$
                                      </td>
                                      <td>
                                        <button>
                                          <i class="material-icons" data-toggle="modal" data-target="#ventanaForm">edit</i>
                                        </button>
                                     ---  <button > <i class="material-icons" >delete</i></button>
                                    </td>
                                    
                                  </tr>
                                 
                              </tbody>
                          </table>


                          
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</div>




  