.tim-note2 {
    text-align: right;
  
  }
  
  .table-row:hover {
     
  }
  
  .editable-row {
    cursor: pointer;
    
  }
  
  .editable-row:hover {
    background-color: #f2f2f2;
  }
  
  .edit-mode {
    background-color: #fffacd;
  }
  
  .danger {
    background-color: rgb(204, 43, 43);
    color: #ffffff;
    font-size: smaller;
  }
  
  
  .x {
    // width: 200px;
    height: 80px;
    //margin-right: 20px;
    // margin-bottom: 0;
  }
  
  
  
  .texto-grueso {
    font-weight: bold;
    font-size: 25px;
  }
  
  
  .btn1 {
    color: #ffffff;
  }
  
  
  .editable-row {
    cursor: pointer;
  }
  
  .sele {
    color: black;
  }
  
  .editable-row:hover {
    background-color: #ffffff;
  }
  
  .edit-mode {
    background-color: #ffffff;
  }
  
  .edit {
    height: 80px;
    width: 80px;
  
  }
  
  .marco-div {
    border: 2px solid black;
    padding: 10px;
  }
  
  button1 {
    color: blue;
  }
  
  button2 {
    color: red;
  }
  
  .heads {
    background-color: rgb(206, 25, 25);
  }
  
  h5 {
    font-size: larger;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  
  .disabled {
    font-weight: bold;
    font-size: 18px;
  }
  
  th {
    color: rgb(182, 17, 17);
    font-weight: bold;
    font-size: 20px;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  .select-gr {
    font-size: 18px;
    /* Tamaño de letra grande */
    color: rgb(158, 155, 155);
    text-align: center;
  
  
  }
  
  
  .estilos {
    content: "";
    margin-top: 10px;
    /* Espacio de 5 píxeles arriba de cada opción */
    border: none;
    /* Removemos todos los bordes */
    border-bottom: 1px solid #888888;
    /* Agregamos solo el borde inferior */
    width: 400px;
    font-size: 18px;
  }
  
  .heads {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .header {
    background-color: rgb(255, 255, 255); /* Color rojo para el header */
    padding: 20px;
    color: rgb(61, 60, 60);
    height: 90px;
    border-color: rgb(125, 125, 125);


    
  }

  .fondo{
    background: url('/assets/img/menudesayunoo.jpeg') center center/cover no-repeat;

  }
  .xx{
    cursor: pointer;
  }
  .header-content {
    display: flex;
    align-items: center;
  }
  
  .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user-name {
    font-size: 20px;
  }
  
  .content {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ocupar toda la página verticalmente */

    
  }
  
  .report-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  .report-table th,
  .report-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .report-table th {
    background-color: #f2f2f2;
  }
  .logo {
height: 60px; 
//weight: ;

}

.btn-download {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }

  /* Tu código actual */

/* Agregamos el siguiente código para alinear las imágenes */
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Alineación horizontal */
  }
  
  /* ---------------------------------------------------------------------------------------------------------------------------------------- */
  
  .clsimg{
    height: 55px;
    margin-left: 20px; 
  }
  .j{
    font-size: 20px;
    cursor: pointer;
  }

  .jm{
    font-size: 30px;
    cursor: pointer;
  }


/* styles.css o sidebar.component.css */
.red-bold-text {
  color: rgb(187, 52, 52) !important;
  font-weight: bold !important;
}
th{
  color: rgb(187, 52, 52) !important;
  font-weight: bold !important;
}
h2{
  color: #616060;
  font-weight: 60px;
}

.disabled {
  font-weight: bold;
  font-size: 21px;
}

//--------------------------------------------descarga
.tamimg{
  height: 25px;
  width: 25px;
}

.custom-dropdown {
  position: relative;
  border: 1px solid #ccc;
  cursor: pointer;
  width: 190px;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #ea3f2c; /* Cambia el color de fondo al que desees */
}

.nav-item {
  list-style: none; /* Elimina el estilo de viñeta de la lista */
}

.label2 {
  display: inline-flex;
  align-items: center;
  
  font-family:  sans-serif;
  font-size: small;
  font-size: 18px;
  font-weight: bold; 
}
.col{
  color: #ffffff;
}
.clr{
  color: #ada7a7;
}
.dropdown-menu{
  cursor: pointer;
}