<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Listado de los alimentos. -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <!-- Botones de agregar alimentos y el otro de tipo alimento por si llega a faltar algun alimento que no este en la lista -->
      <button mat-raised-button type="submit" class=" btn1 btn-danger pull-right card-title" data-toggle="modal"
        data-target="#ventanaForm" (click)="nuevoCurso()">AGREGAR +</button>
     
      <div class="col-md-12">

        <div class="card text-center">
          <div class="card-header card-header-danger">
            <h4 class="card-title disabled"> <img src="/assets/img/alimentos.png" class="edit" alt=""> Productos</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    Nº
                  </th>
                  <th>
                    Producto 
                  </th>
                  <th>
                    Equivalente gramo: 
                  </th>
                  <th>
                    Cantidad de persona
                  </th>
                  <th>
                    Gramo por persona
                  </th>
                  <th>
                    Acciones
                  </th>

                </thead>
                <tbody *ngFor="let item of pagedMenus ;let i=index ">
                  <tr>
                    <td>
                      {{i+1}}
                    </td>
            
                    <td>
                      {{item.descripcion}}
                    </td>
                    <td>
                      {{item.equivalenteGramo}}
                    </td>
                    <td>
                      {{item.cantidadPersona}}
                    </td>
                    <td>
                      {{item.gramoPersona}}
                    </td>

                    <td>
                    <!-- Botones de editar y eliminar alimentos -->
                      <button1 color="primary" (click)="editarAlimento(item)">
                        <i class="material-icons editable-row" data-toggle="modal" data-target="#ventanaForm">edit</i>
                      </button1>
                      
                      <button2> <i class="material-icons editable-row" (click)="showModalEliminar(item.id)">delete</i>
                      </button2>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
              <!-- Contenedor para centrar la paginación -->
  <div class="pagination-containerrrr">
    <!-- Paginación -->
    <div class="pagination">
      <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1"><i  class="fa fa-arrow-left  "></i> Anterior</button>
      <span class="k">Página {{ currentPage }} de {{ totalPages }}</span>
      <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages">Siguiente <i  class="fa fa-arrow-right"></i></button>
    </div>
  </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal de Registro de Alimentos -->
<div class="modal fade" id="ventanaForm" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content d-flex align-items-center">
      <div class=" heads x">
        <h5 class="modal-title texto-grueso" id="exampleModalLabel">{{tituloForm}} <img src="assets/img/comida.png"
            alt=""></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="alimentoForm">

          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="inputState" class="select-gr">Producto</label> <br>
              <input class="example-full-width estilos" type="text" formControlName="descripcion">
              <div *ngIf="showDescripcionError" class="text-danger">Campo requerido</div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="inputState" class="select-gr">Equivalente gramo <h6>* 1 libra equivale a 453.592 gramos /LT</h6>	</label> <br>
              <input class="example-full-width estilos" type="text" formControlName="equivalenteGramo" >
              <div *ngIf="showEquivalenteGramoError" class="text-danger">Campo requerido</div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="inputState" class="select-gr">Cantidad de persona</label> <br>
              <input class="example-full-width estilos" type="text" formControlName="cantidadPersona">
              <div *ngIf="showCantidadPersonaError" class="text-danger">Campo requerido</div>
              <div *ngIf="showCantidadPersonaError && alimentoForm.get('cantidadPersona')?.hasError('pattern')" class="text-danger">El campo de cantidadPersona solo permite números.</div>
            </div>
          </div>
          
        
      
          <input type="hidden" formControlName="funcion">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn " data-dismiss="modal" (click)="closeModal()">Cerrar</button>
        <button type="button" class="btn btn-danger" (click)="addAlimento()" data-dismiss="modal">
          {{ editandoAlimento ? 'Modificar' : 'Registrar' }}
        </button>
      </div>
    </div>
  </div>
</div>

