<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Listado de los alimentos. -->
<div class="main-content">
  
  <div class="container-fluid">
    <button mat-raised-button type="submit" class=" btn1 btn-danger pull-right card-title" data-toggle="modal"
    data-target="#ventanaForm" (click)="nuevoCurso()">AGREGAR +</button>

    <div class="search-container col-md-10">
      <label class="label"  for="nombreproductoFiltro">Buscar el nombre del producto:</label>
      <div class="search-box">
        <input type="text" 
        class="form-control"
       
     
        [(ngModel)]="nombreproductoFiltro" (input)="aplicarFiltros()"  />
       
      </div>
   
      
    </div>





    <div class="row">
      <!-- Botones de agregar alimentos y el otro de tipo alimento por si llega a faltar algun alimento que no este en la lista -->
     
     
      <div class="col-md-12">

        <div class="card text-center">
         


          <div class="card-header card-header-danger d-flex align-items-center justify-content-between">
            <h4 class="card-title disabled">
              <img src="/assets/img/alimentos.png" class="edit" alt="">
              Alimentos 
            </h4>

      

          <li class="nav-item dropdown">
            <a class="nav-link label2 col" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  >
              Descargar    <i class="material-icons">file_download</i> 
              
                <p>
                    <span class="d-lg-none d-md-block"> </span>
                </p>
            </a>
            <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" (click)="descargarDatos()"  >Exportar a excel <img class="tamimg" src="/assets/img/microsoft-excel.svg" alt=""> </a>
                <a class="dropdown-item" (click)="descargarPDF()"  > Exportar a pdf <i class="material-icons">picture_as_pdf</i></a>
              
                
            </div>
        </li>


          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    Nº
                  </th>
                  <th>
                    Producto 
                  </th>
                  <th>
                    Unidad de medida
                  </th>
                 
                  <th>
                    Acciones
                  </th>

                </thead>
                <tbody >
                  <ng-container *ngFor="let item of pagedMenus; let i = index">
                  <ng-container *ngIf="(!nombreproductoFiltro || item.descripcion.toLowerCase().includes(nombreproductoFiltro.toLowerCase()))">

                  <tr>
                    <td>
                      {{i+1}}
                    </td>
            
                    <td>
                      {{item.descripcion}}
                    </td>
                    <td>
                      {{item.unidadMedida.unidadMedida}}
                    </td>
                  
                    <td>
                    <!-- Botones de editar y eliminar alimentos -->
                    <button1 color="primary" (click)="editarAlimento(item)">
                      <i class="material-icons editable-row" data-toggle="modal" data-target="#ventanaForm">edit</i>
                  </button1>
                  
                      
                      <button2> <i class="material-icons editable-row" (click)="showModalEliminar(item.id)">delete</i>
                      </button2>
                    </td>
                  </tr>

                </ng-container>
              </ng-container>
                </tbody>
              </table>
            </div>

            <div *ngIf="!pagedMenus || pagedMenus.length === 0" class="text-center">
              <img src="/assets/img/canasta.png" class="edit" alt="" />
            </div>
              <!-- Contenedor para centrar la paginación -->
  <div class="pagination-containerrrr">
    <!-- Paginación -->
    <div class="pagination">
      <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1"><i  class="fa fa-arrow-left  "></i> Anterior</button>
      <span class="k">Página {{ currentPage }} de {{ totalPages }}</span>
      <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages">Siguiente <i  class="fa fa-arrow-right"></i></button>
    </div>
  </div>
          </div>

      

        </div>
      </div>
    </div>
  </div>
</div>





<!-- Modal de Registro de Alimentos -->
<div class="modal fade" id="ventanaForm" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content d-flex align-items-center">
      <div class="heads x">
        <h5 class="modal-title texto-grueso" id="exampleModalLabel">{{tituloForm}} <img src="assets/img/comida.png" alt=""></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="alimentoForm">

          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="inputState" class="select-gr">Producto</label> <br>
              <input class="example-full-width estilos" type="text" formControlName="descripcion">
              <div *ngIf="showDescripcionError" class="text-danger">Campo requerido</div>
            </div>
          </div>

          <!-- Reemplaza la sección donde se muestra la opción seleccionada con estos cambios -->
          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="inputState" class="select-gr text-center">Unidad de medida</label> <br>
              <div class="custom-dropdown" [class.show-more-options]="showMoreOptions">
                <div class="selected-option" (click)="toggleShowMoreOptions()">
                  {{ getSelectedOptionLabel() }}
                  <img src="assets/img/flecha-hacia-abajo.png" alt="" class="down-arrow">
                </div>
                <div class="options-container">
                  <ng-container *ngFor="let item of unidadMedidasss">
                    <div class="option example-full-width estilos" *ngIf="!showMoreOptions && index >= 7" (click)="selectOption(item)">{{ item.unidadMedida }}</div>
                    <div class="option estil editable-row" *ngIf="showMoreOptions" (click)="selectOption(item)">{{ item.unidadMedida }}</div>
                    <div *ngIf="showIdTipomenuError" class="text-danger">Campo requerido</div>
                  </ng-container>
                  <div class="selected-option editable-row" data-toggle="modal" data-target="#ventanaFormOtro" (click)="nuevoCursoOtro()">
                    {{ getSelectedOptionLabelotro() }}
                    <img src="assets/img/sumar.png" alt="" class="down-arrow">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <br> 

          <input type="hidden" formControlName="funcion">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal" (click)="closeModal()">Cerrar</button>
        <button type="button" class="btn btn-danger" (click)="addAlimento()">
          {{ editandoAlimento ? 'Modificar' : 'Registrar' }}
        </button>
      </div>
    </div>
  </div>
</div>











<div class="modal fade" id="ventanaFormOtro" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content d-flex align-items-center">
      <div class=" heads x">
        <h5 class="modal-title texto-grueso" id="exampleModalLabel">{{tituloFormOtro}} <img src="assets/img/menuicono.png"
            alt=""></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="unidadMedidaForm">

        
          

          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="inputState" class="select-gr">Unidad de Medida</label> <br>
              <input class="example-full-width estilos" type="text" formControlName="unidadMedida">
              <div *ngIf="showDescripcionError" class="text-danger">Campo requerido</div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="inputState" class="select-gr">Valor de Medida</label> <br>
              <input class="example-full-width estilos" type="text" formControlName="valorMedida">
              <div *ngIf="showDescripcionError" class="text-danger">Campo requerido</div>
            </div>
          </div>
 

          <input type="hidden" formControlName="funcion">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn " data-dismiss="modal" (click)="closeModal()">Cerrar</button>
        <button type="button" class="btn btn-danger" (click)="addUnidadMedida()" data-dismiss="modal">
          {{ editandoAlimento ? 'Modificar' : 'Registrar' }}
        </button>
      </div>
    </div>
  </div>
</div>