<div class="main-content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Datos de Menú</h4>
                        <p class="card-category">completa los datos</p>

                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row" class="col-md-6">
                               
                               <img src="assets/img/menufoto.avif" alt="">
                               
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Tipo Menu" type="text" formControlName="tipo">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Plato" type="text" formControlName="descripcion">
                                  </mat-form-field>
                                </div>
                               
                            </div>
                          
                            <div class="row">
                               
                            </div>
                           
                          <div class="row">
                              
                              
                             
                          </div>
                        
                            <div class="row">
                                <div class="col-md-12">
                                
                          
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" >Guardar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
  </div>
  