<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="main-content">
  <div class="container-fluid">


    <div class="row">
      <button mat-raised-button type="submit" class=" btn1 btn-danger pull-right card-title" data-toggle="modal"
        data-target="#ventanaForm" (click)="nuevoCurso()">AGREGAR +</button>

      <div class="col-md-12">

        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title disabled"> <img src="/assets/img/tarjeta-de-credito.png" class="edit" alt=""> Créditos
            </h4>

          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    Nº
                  </th>
                  <th>
                    Nombres
                  </th>
                  <th>
                    Email
                  </th>
                  <th>
                    Teléfono
                  </th>
                  <th>
                    Plato
                  </th>
                  <th>
                    Cantidad
                  </th>
                  <th>
                    Precio
                  </th>
                  <th>
                    Fecha
                  </th>
                  <th>
                    Pagado
                  </th>

                  <th>
                    Acción
                  </th>

                </thead>
                <tbody *ngFor="let item of creditosss ;let i=index ">
                  <tr>


                    <td>
                      {{i+1}}
                    </td>
                    <td>
                      {{item.persona.nombre}}
                    </td>
                    <td>
                      {{item.persona.email}}
                    </td>
                    <td>
                      {{item.persona.telefono}}
                    </td>
                    <td>
                      {{item.plato.descripcion}}
                    </td>
                    <td>
                      {{item.cantidad}}
                    </td>
                    <td>
                      {{item.precio}}
                    </td>
                    <td>
                      {{item.fecha}}
                    </td>
                    <td>
                      {{item.pagado}}
                    </td>
                    <td>
                      <button1 color="primary" (click)="editarCreditos(item)">
                        <i class="material-icons editable-row" data-toggle="modal" data-target="#ventanaForm">edit</i>
                      </button1>


                      <button2> <i class="material-icons editable-row" (click)="showModalEliminar(item.id)">delete</i>
                      </button2>
                    </td>

                  </tr>

                </tbody>
              </table>



            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="ventanaForm" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content d-flex align-items-center">
      <div class=" heads x">
        <h5 class="modal-title texto-grueso" id="exampleModalLabel">{{tituloForm}} <img src="assets/img/comida.png"
            alt=""></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="creditosForm">
          <div class="form-row">

            <div class="form-group col-md-12">
              <div class="formmm">
                <div class="search-container">
                  <label class="label select-gr" for="input-datalist-usuario">Buscar cedula de usuario</label>
                  <div class="search-box">
                    <input type="text" class="form-control " list="list-timezone-usuario"
                    [value]="usuarioSeleccionado.usuario" (input)="updateUsuarioId($event)"
                    formControlName="id_persona" />
             
             
       
                    <datalist id="list-timezone-usuario">
                      <option *ngFor="let item2 of personas" [value]="item2.usuario">
                        {{ item2.usuario }}
                      </option>
                    </datalist>
                    
                  </div>
                </div>
              </div>
            </div>



            <div class="form-group col-md-11">
              <div class="formmm">
                <div class="search-container">
                  <label class="label select-gr" for="input-datalist-plato">Buscar el nombre del Plato:</label>
                  <div class="search-box">
                    <input type="text" class="form-control" list="list-timezone" id="input-datalist"
                           [value]="platoSeleccionados.descripcion" (input)="updatePlatoId($event)" formControlName="id_plato" />
            
                    <datalist id="list-timezone">
                      <option *ngFor="let ingrediente of ingredientes" [value]="ingrediente.descripcion">
                        {{ ingrediente.descripcion }}
                      </option>
                    </datalist>
                  </div>
                </div>
              </div>
            </div>
            
         
         


       




          </div>







          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="inputState" class="select-gr">Cantidad</label> <br>
              <input class="example-full-width estilos" type="text" formControlName="cantidad">
              <div *ngIf="showCantidadError" class="text-danger">Campo requerido</div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="inputState" class="select-gr">Precio</label> <br>
              <input class="example-full-width estilos" type="text" formControlName="precio">
              <div *ngIf="showPrecioError" class="text-danger">Campo requerido</div>
            </div>
          </div>
          
          
        

          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="inputState" class="select-gr">Cancelar</label> <br>
              <!-- Elimina el input anterior y utiliza radio buttons -->
              <input type="radio" id="si" name="habilitado" formControlName="pagado" value="1">
              <label for="si">Si</label>
              <br>
              <input type="radio" id="no" name="habilitado" formControlName="pagado" value="0">
              <label for="no">No</label>
          
              <div *ngIf="showPagadoError" class="text-danger">Campo requerido</div>
            </div>
          </div>
          <input type="hidden" formControlName="funcion">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn " data-dismiss="modal" (click)="closeModal()">Cerrar</button>
        <button type="button" class="btn btn-danger" (click)="addCredito()" data-dismiss="modal">Guardar</button>
      </div>
    </div>
  </div>
</div>