.editable-row {
  cursor: pointer;
}

.editable-row:hover {
  background-color: #ffffff;
}

.edit-mode {
  background-color: #ffffff;
}


.marco-div {
  border: 2px solid black;
  padding: 10px;
}

button1 {
  color: blue;
}

button2 {
  color: red;
}
button3 {
  color: rgb(33, 127, 2);
  cursor: pointer; 
}

.heads {
  background-color: rgb(206, 25, 25);
}
.material-icons.toggle_on {
  color: green; /* Color cuando el botón está activado */

}

.material-icons.toggle_on.inactive {
  color: #888; /* Cambia a tu color "plomo" o gris cuando el botón está desactivado */
}
h5 {
  font-size: larger;
  color: antiquewhite;
}


th {
  color: rgb(182, 17, 17);
  font-weight: bold;
  font-size: 20px;
}

img {
  font-weight: bold;
}




//------------------------------------------------------------------------------------------------------

.tim-note2 {
  text-align: right;

}

.table-row:hover {
  background-color: #f2f2f2;
}

.editable-row {
  cursor: pointer;
}

.editable-row:hover {
  background-color: #f2f2f2;
}

.edit-mode {
  background-color: #fffacd;
}

.danger {
  background-color: rgb(204, 43, 43);
  color: #ffffff;
  font-size: smaller;
}


.x {
  // width: 200px;
  height: 80px;
  //margin-right: 20px;
  // margin-bottom: 0;
}

.texto-grueso {
  font-weight: bold;
  font-size: 25px;
}


.btn1 {
  color: #ffffff;
}


.editable-row {
  cursor: pointer;
}

.sele {
  color: black;
}

.editable-row:hover {
  background-color: #ffffff;
}

.edit-mode {
  background-color: #ffffff;
}

.edit {
  height: 80px;
  width: 80px;

}

.marco-div {
  border: 2px solid black;
  padding: 10px;
}

button1 {
  color: blue;
}

button2 {
  color: red;
}

.heads {
  background-color: rgb(206, 25, 25);
}

h5 {
  font-size: larger;
  color: rgb(255, 255, 255);
  text-align: center;
}

.disabled {
  font-weight: bold;
  font-size: 21px;
}

th {
  color: rgb(182, 17, 17);
  font-weight: bold;
  font-size: 20px;
}



.pagination-containerrrr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; /* Ajusta el margen superior según sea necesario */
}

.pagination {
  /* Estilos adicionales para la paginación si es necesario */
  /* ... */
}
/* Agrega estilos para quitar bordes a los botones de paginación */
.pagination button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-weight: bold;
}
.k{
  font-weight: bold;
}
/* Estilo para los íconos dentro de los botones */
.pagination button i {
  margin-right: 5px; /* Puedes ajustar este valor según tu preferencia */
}

.texto-grueso {
  font-weight: bold;
  font-size: 22px;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);

}

.search-box {
  flex: 1;
  margin-right: 10px; /* Espacio entre el cuadro de búsqueda y el botón */
  margin-right: 10px; 

}
.label {
  font-size: 18px; /* Ajusta el tamaño de la fuente según tus preferencias */
  margin-right: 25px;
  color: rgb(141, 130, 130);
}

.form-control {
  border: none;
  box-shadow: none;
  outline: none;
}









.select-gr {
  font-size: 18px;
  /* Tamaño de letra grande */
  color: rgb(158, 155, 155);
  text-align: center;


}


.estilos {
  content: "";
  margin-top: 10px;
  /* Espacio de 5 píxeles arriba de cada opción */
  border: none;
  /* Removemos todos los bordes */
  border-bottom: 1px solid #888888;
  /* Agregamos solo el borde inferior */
  width: 400px;
  font-size: 18px;
}

.heads {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}