img{
    height: 20px;
    width: 50px;


}

.edit{
    height: 80px;
    width: 80px ; 
    
}

.marco-div {
    border: 2px solid black;
    padding: 10px;
  }
button1{
    color: blue;
}

button2{
    color: red;
}
.heads{
    background-color: rgb(206, 25, 25);
}
h5{
    font-size: larger;
    color: antiquewhite;
}

.disabled{
    font-weight: bold;
    font-size: 18px;
}
th{
    color: rgb(182, 17, 17);
    font-weight: bold;
    font-size: 20px;
}