<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



<div class="main-content">
  <div class="container-fluid">


      <div class="row">
        <button mat-raised-button type="submit" class="btn btn-danger pull-right card-title"  data-toggle="modal" data-target="#ventanaForm" (click)="nuevoCurso()">AGREGAR</button>

          <div class="col-md-12">

              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title disabled">  <img src="/assets/img/mn.png" class="edit" alt=""> M    E    N    U</h4>
                     
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Tipo Menu
                                  </th>
                                  <th>
                                      Plato
                                  </th>
                                  
                                  <th>
                                    Accion
                                </th>
                                  
                              </thead>
                              <tbody  *ngFor="let item of platosss ;let i=index "  >
                                  <tr  >
                                      <td >
                                        {{i+1}}
                                      </td>
                                      <td >
                                        {{item.tipo_menu.tipo}}
                                      </td>
                                      <td>
                                        {{item.descripcion}}
                                      </td>
                                      
                                      <td>
                                        <button1 color="primary" (click)="editarPlato(item)">
                                          <i class="material-icons editable-row" data-toggle="modal" data-target="#ventanaForm">edit</i>
                                        </button1>
                                        
                                        
                                       <button2 > <i class="material-icons editable-row" (click)="eliminarPlato(item.id)" >delete</i></button2>
                                    </td>
                                    
                                  </tr>
                                 
                              </tbody>
                          </table>


                          
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</div>




  <!-- ventanaForm Modal -->
  <div class="modal fade" id="ventanaForm" data-backdrop="static"  data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content ">
        <div class="modal-header heads " >
          <h5 class="modal-title texto-grueso " id="exampleModalLabel" >{{tituloForm}}  <img src="assets/img/menuicono.png" alt=""></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body " >
            <form [formGroup]="menuForm">
               
              <div class="form-row">
                
                <div class="form-group col-md-4">
                  <label for="inputState">Tipo Menu</label>
                  <select id="inputState" class="form-control"  placeholder="Seleccione"  formControlName="id_tipomenu" (Change)="getId_Tipomenu()" >
                    <option selected *ngFor="let item of tipomenusss "  [value]="item.id" >{{item.tipo}}</option>
                   
                  </select>
                </div>

              </div>
                <div class="form-group">
                  <label for="inputAddress">Plato</label>
                  <input type="text" class="form-control" id="inputAddress" placeholder="" formControlName="descripcion">
                </div>
               
               
             <input type="hidden" formControlName="funcion " >
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Cerrar</button>
          <button type="button" class="btn btn-danger"  data-dismiss="modal" (click)="addMenu()  "  >Guardar</button>
        </div>
      </div>
    </div>
  </div>