<div class="main-content " >
  <div class="container-fluid ">
      <div class="row">
          <div class="col-md-12 " >
              <div class="card ">
                  <div class="card-header card-header-danger" ><img src="assets/img/persona.png" alt="">
                      <h4 class="card-title disabled">Datos de Usuario   </h4>
                      <p class="card-category">completa tu perfil</p>
                  </div>
                  <div class="card-body">
                      <form [formGroup]="personaForm">
                          <div class="row">
                              <div class="col-md-5">
                                <mat-form-field class="example-full-width disabled">
                                    <input matInput placeholder="Datos Personales" disabled >
                                  </mat-form-field>
                              </div>
                             
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Nombre" type="text" formControlName="nombre">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Email" type="email" formControlName="email">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Teléfono" type="number" formControlName="telefono">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Foto" type="text"  formControlName="foto">
                                </mat-form-field>

                              </div>
                             
                          </div>
                        
                          <div class="row">
                             
                          </div>
                          <div class="row">
                            <div class="col-md-5">
                              <mat-form-field class="example-full-width disabled " >
                                  <input matInput placeholder="Datos Usuario" disabled >
                                </mat-form-field>
                            </div>
                           
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Usuario" type="text" formControlName="usuario">
                              </mat-form-field>
                            </div>
                            <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Contraseña" type="password" formControlName="contrasena">
                              </mat-form-field>
                            </div>
                           
                        </div>
                      
                          <div class="row">
                              <div class="col-md-12">
                              
                        
                              </div>
                          </div>
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="addPersona()">Guardar</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
        
      </div>
  </div>
</div>
