<div class="main-content">
  <div class="container-fluid">
      <div class="row ">
      <div class="col-md-12 mx-auto ">
        <div class="card">
          <div class="card-header card-header-danger text-center">
            <img class="img" src="assets/img/persona.png" alt="">
            <h4 class="card-title disabled">Datos de usuario</h4>
            <p class="card-category">Completa tu perfil</p>
          </div>
          <div class="card-body">
            <form [formGroup]="personaForm" (ngSubmit)="addPersona()" novalidate>
              <div class="row  ">
                <div class="col-md-5 mx-auto ">
                  <mat-form-field class="example-full-width disabled text-center">
                    <input matInput placeholder="Datos personales" disabled>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-5 mx-auto">
                  <div class="example-full-width disabled text-center">
                    <div class="input-groupss">
                      <div class="form-outliness" data-mdb-input-init>
                        <!-- Agrega el formulario y el campo de identificación aquí -->
                        <form [formGroup]="personaForm">
                          <input formControlName="identificacion" type="search" class="form-controlss" placeholder="Cédula:">
                        </form>
                      </div>
                      <button type="button" class="btn btn-primaryss btn-danger " data-mdb-ripple-init (click)="BuscarCedula()">
                        <i class="fa fa-search" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              
              <br>



              <div class="row espaciado-columnas">
                <div class="col-md-6 ">
                  <label for="inputState" class="select-gr">Primer Apellido*</label> <br>
                  <input class="example-full-width estilos" type="text" formControlName="Apellido1">
                  <div *ngIf="personaForm.get('Apellido1').invalid && (personaForm.get('Apellido1').touched || submitted)"
                    [ngClass]="{ 'error-message': personaForm.get('Apellido1').errors }">
                    El apellido es requerido y debe tener al menos 3 caracteres.
                  </div>
                </div>

                <div class="col-md-6 ">
                  <label for="inputState" class="select-gr">Segundo Apellido*</label> <br>
                  <input class="example-full-width estilos" type="text" formControlName="Apellido2">
                  <div *ngIf="personaForm.get('Apellido2').invalid && (personaForm.get('Apellido2').touched || submitted)"
                    [ngClass]="{ 'error-message': personaForm.get('Apellido2').errors }">
                    El apellido es requerido y debe tener al menos 3 caracteres.
                  </div>
                </div>
              </div>
              <br>




              <div class="row espaciado-columnas">
                <div class="col-md-6 ">
                  <label for="inputState" class="select-gr">Primer Nombre*</label> <br>
                  <input class="example-full-width estilos" type="text" formControlName="Nombre1">
                  <div *ngIf="personaForm.get('Nombre1').invalid && (personaForm.get('Nombre1').touched || submitted)"
                    [ngClass]="{ 'error-message': personaForm.get('Nombre1').errors }">
                    El nombre es requerido y debe tener al menos 3 caracteres.
                  </div>
                </div>

                <div class="col-md-6 ">
                  <label for="inputState" class="select-gr">Segundo Nombre*</label> <br>
                  <input class="example-full-width estilos" type="text" formControlName="Nombre2">
                  <div *ngIf="personaForm.get('Nombre2').invalid && (personaForm.get('Nombre2').touched || submitted)"
                    [ngClass]="{ 'error-message': personaForm.get('Nombre2').errors }">
                    El nombre es requerido y debe tener al menos 3 caracteres.
                  </div>
                </div>



              
              </div>


              <br>
              <div class="row espaciado-columnas">

                <div class="col-md-6 ">
                  <label for="inputState" class="select-gr">Email*</label> <br>
                  <input class="example-full-width estilos" type="email" formControlName="EmailInstitucional">
                  <div *ngIf="personaForm.get('EmailInstitucional').invalid && (personaForm.get('EmailInstitucional').touched || submitted)"
                    [ngClass]="{ 'error-message': personaForm.get('EmailInstitucional').errors }">
                    El email es requerido.
                  </div>
                </div>


                <div class="col-md-6">
                  <label for="inputState" class="select-gr">Teléfono*</label> <br>
                  <input class="example-full-width estilos" type="text" formControlName="TelefonoC">
                  <div *ngIf="personaForm.get('TelefonoC').invalid && (personaForm.get('TelefonoC').touched || submitted)"
                    [ngClass]="{ 'error-message': personaForm.get('TelefonoC').errors }">
                    El teléfono es requerido y debe tener al menos 10 dígitos.
                  </div>

                  
                </div>
               
              </div>
              <div class="row">
                <div class="col-md-5 mx-auto">
                  <mat-form-field class="example-full-width disabled text-center">
                    <input matInput placeholder="Datos usuario" disabled>
                  </mat-form-field>
                </div>
              </div>


              <div class="row">
                <div class="col-md-3 mx-auto">
                  <div class="example-full-width text-center">
                    <label for="inputState" class="select-gr text-center">Tipo Usuario</label> <br>
                    <div class="custom-dropdownss text-center" 
                         [class.show-more-options]="showMoreOptions" 
                         [ngClass]="{'error-border': personaForm.get('id_tipousuario').invalid && (personaForm.get('id_tipousuario').touched || submitted)}">
                      <div class="selected-option text-center" (click)="toggleShowMoreOptions()">
                        {{ getSelectedOptionLabel() }}
                        <img src="assets/img/flecha-hacia-abajo.png" alt="" class="down-arrow">
                      </div>
                      <div class="options-container text-center">
                        <ng-container *ngFor="let item of tipousuariosss; let i = index">
                          <div class="option example-full-width estilos" *ngIf="!showMoreOptions && i >= 7" (click)="selectOption(item)">{{ item.tipo }}</div>
                          <div class="option estil editable-row" *ngIf="showMoreOptions" (click)="selectOption(item)">{{ item.tipo }}</div>
                        </ng-container>
                      </div>
                    </div>
                    <input type="hidden" formControlName="id_tipousuario">
                    <div *ngIf="personaForm.get('id_tipousuario').invalid && (personaForm.get('id_tipousuario').touched || submitted)" class="error-message">
                      Campo Tipo Usuario es requerido.
                    </div>
                  </div>
                </div>
              </div>
              
              

              




             
              <br>
              <div class="row espaciado-columnas">
                <div class="col-md-6">
                  <label for="inputState" class="select-gr">Cédula*</label> <br>
                  <input class="example-full-width estilos" type="text" formControlName="Identificacion">
                  <div *ngIf="personaForm.get('Identificacion').invalid && (personaForm.get('Identificacion').touched || submitted)"
                    [ngClass]="{ 'error-message': personaForm.get('Identificacion').errors }">
                    La Cédula es requerida y debe tener al menos 10 caracteres.
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="inputState" class="select-gr">Contraseña*</label> <br>
                  <div class="password-input-container">
                      <input class="example-full-width estilos" type="{{ showPassword ? 'text' : 'password' }}" formControlName="contrasena">
                      <button mat-icon-button (click)="showPassword = !showPassword" type="button" class="eye-icon-button">
                          <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                      </button>
                  </div>
                  <div *ngIf="personaForm.get('contrasena').invalid && (personaForm.get('contrasena').touched || submitted)"
                      [ngClass]="{ 'error-message': personaForm.get('contrasena').errors }">
                      {{ personaForm.get('contrasena').hasError('required') ? 'La contraseña es requerida.' : '' }}
                      {{ personaForm.get('contrasena').hasError('minlength') ? 'Debe tener al menos 4 caracteres.' : '' }}
                  </div>
              </div>
              
              </div>
              <br>
              <div class="row">
                <div class="mx-auto">
                  <button mat-raised-button type="submit" class="btn btn-danger pull-right ">REGISTRAR</button>
  
                </div>
              </div>
              
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
    
    




    <div class="row text-center">

      <div class="col-md-12">

        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title disabled"> Clientes</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    No
                  </th>
                  <th>
                    Usuario
                  </th>
                  <th>
                    Apellido1
                  </th>
                  <th>
                    Apellido2
                  </th>
                  <th>
                    Nombre1
                  </th>
                  <th>
                    Nombre2
                  </th>
                  <th>
                    Email
                  </th>
                  <th>
                    Teléfono
                  </th>
                  <th>
                    Foto
                  </th>


                </thead>
                <tbody *ngFor="let item of usuariosss;let i=index ">
                  <tr>
                    <td>
                      {{i+1}}
                    </td>
                    <td>
                      {{item.Identificacion}}
                    </td>
                    <td>
                      {{item.persona.Apellido1}}
                    </td>
                    <td>
                      {{item.persona.Apellido2}}
                    </td>
                    <td>
                      {{item.persona.Nombre1}}
                    </td>
                    <td>
                      {{item.persona.Nombre2}}
                    </td>
                    <td>
                      {{item.persona.EmailInstitucional}}
                    </td>
                    <td>
                      {{item.persona.TelefonoC}}
                    </td>
                    <td>
                      <img *ngIf="item.persona.foto" [src]="'http://localhost:3000/imagenes/' + item.persona.foto" alt="Foto de usuario" class="circular-image">

                    </td>


                  </tr>

                </tbody>
              </table>



            </div>

                 <!-- Contenedor para centrar la paginación -->
<div class="pagination-containerrrr">
  <!-- Paginación -->
  <div class="pagination">
    <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1"><i  class="fa fa-arrow-left  "></i> Anterior</button>
    <span class="k">Página {{ currentPage }} de {{ totalPages }}</span>
    <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages">Siguiente <i  class="fa fa-arrow-right"></i></button>
  </div>
</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>