<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



<div class="main-content">
  <div class="container-fluid">


    <div class="row">
      <button mat-raised-button type="submit" class=" btn1 btn-danger pull-right card-title" data-toggle="modal"
        data-target="#ventanaForm" (click)="nuevoCurso()">AGREGAR +</button>

      <div class="col-md-12">

        <div class="card text-center">
          <div class="card-header card-header-danger">
            <h4 class="card-title disabled"> <img src="/assets/img/mn.png" class="edit" alt=""> Platos</h4>

          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    N°
                  </th>
                  <th>
                    Tipo menú
                  </th>
                  <th>
                    Plato
                  </th>
                  <th>
                    Precio
                  </th>
                  <th>
                    Acciones
                  </th>

                </thead>
                <tbody *ngFor="let item of pagedMenus; let i=index">
                  <tr>
                    <td>{{ startIndex + i + 1 }}</td>
                    <td>{{ item.tipo_menu.tipo }}</td>
                    <td>{{ item.descripcion }}</td>
                    <td>{{ item.precio }}</td>
                    <td>
                      <button1 color="primary" (click)="editarPlato(item)">
                        <i class="material-icons editable-row" data-toggle="modal" data-target="#ventanaForm">edit</i>
                      </button1>
                      <button2>
                        <i class="material-icons editable-row" (click)="showModalEliminar(item.id)">delete</i>
                      </button2>
                    </td>
                  </tr>
                </tbody>
                
              </table>


            </div>
       
          <!-- Contenedor para centrar la paginación -->
<div class="pagination-containerrrr">
  <!-- Paginación -->
  <div class="pagination">
    <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1"><i  class="fa fa-arrow-left  "></i> Anterior</button>
    <span class="k">Página {{ currentPage }} de {{ totalPages }}</span>
    <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages">Siguiente <i  class="fa fa-arrow-right"></i></button>
  </div>
</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="ventanaForm" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content d-flex align-items-center">
      <div class=" heads x">
        <h5 class="modal-title texto-grueso" id="exampleModalLabel">{{tituloForm}} <img src="assets/img/menuicono.png"
            alt=""></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="menuForm">

          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="inputState" class="select-gr text-center">Tipo menú</label> <br>
              <div class="custom-dropdown" [class.show-more-options]="showMoreOptions">
                <div class="selected-option" (click)="toggleShowMoreOptions()">
                  {{ getSelectedOptionLabel() }}
                  <img src="assets/img/flecha-hacia-abajo.png" alt="" class="down-arrow">
                </div>
                <div class="options-container">
                  <ng-container *ngFor="let item of tipomenusss">
                    <div class="option example-full-width estilos" *ngIf="!showMoreOptions && index >= 7"
                      (click)="selectOption(item)">{{ item.tipo }}</div>
                    <div class="option estil editable-row" *ngIf="showMoreOptions" (click)="selectOption(item)">{{
                      item.tipo }}</div>
                    <div *ngIf="showIdTipomenuError" class="text-danger">Campo requerido</div>
                  </ng-container>
                </div>
              </div>

            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="inputState" class="select-gr">Descripción</label> <br>
              <input class="example-full-width estilos" type="text" formControlName="descripcion">
              <div *ngIf="showDescripcionError" class="text-danger">Campo requerido</div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="inputState" class="select-gr">Precio</label> <br>
              <input class="example-full-width estilos" type="text" formControlName="precio">
              <div *ngIf="showPrecioError" class="text-danger">Campo requerido</div>
              <div *ngIf="menuForm.get('precio')?.hasError('pattern')" class="text-danger">  El campo de precio solo permite números y hasta dos decimales, y se permite únicamente el uso del punto como separador decimal.
              </div>
            </div>
          </div>
          

          <input type="hidden" formControlName="funcion">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn " data-dismiss="modal" (click)="closeModal()">Cerrar</button>
        <button type="button" class="btn btn-danger" (click)="addMenu()" data-dismiss="modal">
          {{ editandoPlato ? 'Modificar' : 'Registrar' }}
        </button>
      </div>
    </div>
  </div>
</div>